*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-shadow: 1px 2px 3px #000000;
    font-family: 'Montserrat',  sans-serif, 'Helvetica Neue';
    font-size: 16px;
    overflow-x: hidden;
}

#main{
    width: 100vw;
    height: 100vh;
    background-image:url(./emil-widlund-xrbbXIXAWY0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 15px 20px 10px 30px;
    flex-wrap: wrap;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    color: orangered;
}

#navContainer{
    display: flex;
    gap: 20px;
}

.navLinks{
    text-decoration: none;
    color: white;
    font-size: 16px;
}


#heroSection{
    display: flex;
    margin-top: 7%;
    color: white;
    width: 100%;
    height: 70%;
    gap: 3%;
}

#div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 10px;
}

h1{
    font-size: 50px;
    text-align: left;
    color: orangered;
}

#heroSection p{
    font-size: 16px;
    text-align: left;
    margin-top: 3%;
    line-height: 1.5;
}

#heroSectionBtn{
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 3px 3px #000000;
    
}

#heroSectionImg{
    height: 117%;
    width: 172%;
    border-radius: 20px;
}



#productsPage{
    width: 100vw;
    height: 100vh;
    background-image:url(./inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 40px 20px 10px 30px;
}

#featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: white;
}

#underLine{
    width: 100px;
    border: 2px solid orangered;
    border-radius: 5px;
    margin: 0 auto;
}

#container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
}

.booksContainer{
    width: 280px;
    height: 250px;
    background-color: orangered;
    padding: 10px;
}

.productsImg{
    height: 150px;
    width: 260px;
}

.star{
    font-size: 12px;
    margin-top: 10px;
}





#footer{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#footerDiv1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 30px;
    height: 80%;
    width: 100%;
    color: white;
}

#footerDiv1 h4,h3{
    color: orangered;
    margin-bottom: 5px;
}

.footerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.socialLink{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

#footerDiv1 p{
    font-size: 14px;
}

#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    color: white;
    font-size: 12px;
}




@media (max-width: 500px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

body{
    font-size: 14px;
};

#main{
    padding: 10px 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    color: orangered;
}

#navContainer{
    display: flex;
    gap: 10px;
}

.navLinks{
    font-size: 10px;
}

#logo{
    font-size: 16px;
    margin-left: -20px;
}


#heroSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 80%;
    /* gap: 3%; */
}

#heroSectionImg{
    display: none;
}

#div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    padding: 10px;
    margin: auto;
}

h1{
    font-size: 20px;
    text-align: center;
    color: orangered;
}

#heroSection p{
    font-size: 14px;
    text-align: center;
    margin-top: 3%;
    line-height: 1.1;
    text-shadow: 2px 3px 3px #000000;
}

#heroSectionBtn{
    padding: 8px 15px;
    background-color: orangered;
    color: white;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 3px 3px #000000;
}

#heroSectionImg{
    display: none;
}





#productsPage{
    width: 100vw;
    height: 160vh;
    padding: 20px 20px 10px 30px;
}


#container{
    display: flex;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
}

.booksContainer{
    width: 150px;
    height: 210px;
    background-color: orangered;
    padding: 10px;
}

.productsImg{
    height: 100px;
    width: 130px;
    margin: auto;
}

.star{
    font-size: 10px;
    margin-top: 10px;
}

.reduce{
    margin-top: 5px;
}

.productsImgSpec{
    height: 80px;
}




#footer{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px;
}

#footerDiv1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 0;
    height: 80%;
    width: 100%;
    color: white;
}

.remove{
    display: none;
}

#footerDiv1 h4,h3{
    color: orangered;
    margin-bottom: 0px;
}

.footerDiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0px;
}

.socialLink{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

#footerDiv1 p{
    font-size: 12px;
}

#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    color: white;
    font-size: 12px;
}
}




@media (min-width: 550px) and (max-width: 950px){
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    color: orangered;
}

#navContainer{
    display: flex;
    gap: 15px;
}

.navLinks{
    text-decoration: none;
    color: white;
    font-size: 18px;
}


#heroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 90%;
    gap: 3%;
}

#div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

h1{
    font-size: 50px;
    text-align: center;
    color: orangered;
}

#heroSection p{
    font-size: 16px;
    text-align: center;
    margin-top: 3%;
    line-height: 1.5;
}

#heroSectionBtn{
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 3px 3px #000000;
    
}

#heroSectionImg{
    display: none;
}



#productsPage{
    width: 100vw;
    height: 120vh;
    background-image:url(./inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 40px 20px 10px 30px;
}

#featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: white;
}

#underLine{
    width: 100px;
    border: 2px solid orangered;
    border-radius: 5px;
    margin: 0 auto;
}

#container{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
}

.booksContainer{
    width: 280px;
    height: 250px;
    background-color: orangered;
    padding: 10px;
}

.productsImg{
    height: 150px;
    width: 260px;
}

.star{
    font-size: 12px;
    margin-top: 10px;
}
}




@media (min-width:960px) and (max-width:1200px){
#main{
    width: 100vw;
    height: 100vh;
    background-image:url(./emil-widlund-xrbbXIXAWY0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 15px 20px 10px 30px;
    flex-wrap: wrap;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 26px;
    font-weight: bolder;
    color: orangered;
}

#navContainer{
    display: flex;
    gap: 20px;
}

.navLinks{
    text-decoration: none;
    color: white;
    font-size: 24px;
}


#heroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 80%;
    gap: 3%;
}

#div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 10px;
}

h1{
    font-size: 50px;
    color: orangered;
}

#heroSection p{
    font-size: 24px;
    text-align: center;
    margin-top: 3%;
    line-height: 1.2;
}

#heroSectionBtn{
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 3px 3px #000000;
    
}

#heroSectionImg{
    display: none;
}



#productsPage{
    width: 100vw;
    height: 160vh;
    background-image:url(./inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 40px 20px 10px 30px;
}

#featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: white;
}

#underLine{
    width: 100px;
    border: 2px solid orangered;
    border-radius: 5px;
    margin: 0 auto;
}

#container{
    display: flex;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
}

.booksContainer{
    width: 280px;
    height: 250px;
    background-color: orangered;
    padding: 10px;
}

.productsImg{
    height: 150px;
    width: 260px;
}

.star{
    font-size: 12px;
    margin-top: 10px;
}





#footer{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#footerDiv1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 30px;
    height: 80%;
    width: 100%;
    color: white;
}

#footerDiv1 h4,h3{
    color: orangered;
    margin-bottom: 5px;
}

.footerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.socialLink{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

#footerDiv1 p{
    font-size: 14px;
}

#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    color: white;
    font-size: 12px;
}
}